.navbar {
    position: fixed;
    top: 3.9rem;
    width: 100%;
    z-index: 10;
    transition: all .2s;

    &--sticky {
        background: $accentColorDarken;
        top: 0;
        padding: 1rem 0;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .logo {
        margin-right: auto;
        img {
            max-height: 91px;
        }
    }
}
.navbar-menu {
    display: flex;

    &__item {
        margin-right: 8.1rem;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }

        a {
            font-family: 'mulibold', sans-serif;
            font-size: 1.6rem;
            line-height: 6rem;
            color: $white;
            transition: all .3s;

            &:hover {
                color: $blue;
            }
        }
    }
}

.navbar-toogle {
    display: none;
    flex-direction: column;
    cursor: pointer;

    span {
        width: 3rem;
        height: 2px;
        margin-bottom: 8px;
        background: $white;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .navbar-menu__item {
        margin-right: 5rem;
    }
}

@media(max-width: 991px) {
    .navbar-menu__item {
        margin-right: 3rem;
    }
}

@media(max-width: 767px) {
    .navbar {
        top: 0;
        background: $accentColorDarken;
        padding: 1rem 0;

        .container {
            padding: 0 1.5rem;
        }
    }
    .navbar-menu {
        display: none;

        &--mobile {
            position: absolute;
            top: 11rem;
            left: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1rem;
            background: lighten($accentColorDarken, 10%);
            border: 2px solid $accentColorDarken;
        }
    }
    .navbar-toogle {
        display: flex;
    }
}