.slide {
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 83.4rem;

    @media (max-width: 991px) {
        height: 50rem;
    }

    &--1 {
        background-image: url('../img/slider.jpg');
    }

    &--2 {
        background-image: url('../img/slider.jpg');
    }

    &__img {
        width: 100%;
    }

    &__heading {
        font-size: 4rem;
        line-height: 6rem;
        font-family: 'muliextralight', sans-serif;
        color: $white;
        margin-bottom: 0;

        span {
            color: $blue;
        }
    }

    &__cta {
        display: flex;
        margin-top: 4.2rem;

        .btn:last-child {
            margin-left: 2rem;
        }
    }

    .container--slider {
        position: absolute;
        top: 39rem;
        right: 0.7rem;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 1200px;
        max-width: 100%;
        height: 100%;
        margin: auto;
    }
}

.owl-theme .owl-dots {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 36rem;
    right: 10.1rem;

    .owl-dot {
        span {
            width: 12px;
            height: 12px;;
            background: $white;
        }

        &.active span {
            background: $yellow;
        }
        &:hover span {
            background: $yellow;
        }
    }
    button {
        margin-bottom: 17px;
    }
}

.owl-theme .owl-nav {
    position: absolute;
    bottom: 11.2rem;
    right: 0.7rem;
    left: 0;
    width: 1200px;
    max-width: 100%;
    margin: auto;
    text-align: left;

    button {

        span {
            font-size: 2.1rem;
            color: $yellow;
        }

        &.disabled {
            opacity: 1;

            span {
                color: $white;
            }
        }

        &:last-child {
            margin-left: 9px;
        }
    }
}


@media(min-width: 992px) and (max-width: 1199px) {
    .slide {
        height: 60rem;

        .container--slider {
            top: 20rem;
            max-width: 970px;
        }
    }
    .owl-theme .owl-nav {
        max-width: 970px;
    }
    .slide__cta {
        margin-top: 0;
    }
}

@media(max-width: 991px) {
    .slide .container--slider {
        top: 15rem;
        max-width: 750px;
    }
    .owl-theme .owl-nav {
        max-width: 750px;
    }
    .slide__cta {
        margin-top: 3rem;
    }
    .owl-theme .owl-nav {
        bottom: 6.2rem;
        width: 100%;
    }
}

@media(max-width: 767px) {
    .slide .container--slider {
        top: 10rem;
        width: 100%;
        padding: 0 1.5rem;
    }
    .owl-theme .owl-nav {
        padding: 0 1.5rem;
    }
    .owl-theme .owl-dots {
        top: auto;
        bottom: 4rem;
        right: 2rem;

        button {
            margin-bottom: 1rem;
        }
    }
    .slide__cta {
        margin-top: 1.5rem;
    }
    .slider {
        margin-top: 11rem;
    }
}