*, *:before, *:after {
  box-sizing: border-box
}

html {
  font-size: 62.5%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}


@media(min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}


p, 
ul li, 
ol li {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-family: 'muliregular', sans-serif;
  color: $textColor1;
  margin-bottom: 3.2rem;
}

a {
  color: $textLinkColor;
  text-decoration: none;
}