// COLOURS 
$white: #fff;
$blue: #00b6dc;
$yellow: #ffcd19;

$accentColor: #002841;
$accentColorDarken: #001927;
$accentColorLight: #f5f8fa;

$textColor1: #333333;
$textInputColor: #7b94a5;
$textLinkColor: #01a6c9;

$errorColor: #ff3139;